In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Master Path
path = r'/Users/jagpreetbatth/Desktop/Career Foundry/Python/11-2021 Instacart Basket Analysis'

In [4]:
path

'/Users/jagpreetbatth/Desktop/Career Foundry/Python/11-2021 Instacart Basket Analysis'

In [5]:
# Import New Data Set

df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [6]:
# Import Check

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Import Up-To-Date Orders Data Frame

df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
# Import Check

df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,1,2398795,1,2,3,7,15.0
1,2,473747,1,3,3,12,21.0
2,3,2254736,1,4,4,7,29.0
3,4,431534,1,5,4,15,28.0
4,5,3367565,1,6,2,7,19.0

In [9]:
# Shape Check

df_ords_prior.shape

(32434489, 4)

In [10]:
# Shape Check

df_ords.shape

(3214874, 7)

In [11]:
# Merge 'df_ords_prior' with 'df_ords'

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,2,3,7,15.0,196,1,1,both
1,1,2398795,1,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,2,3,7,15.0,26088,5,1,both

In [13]:
df_merged_large.shape

(30356421, 11)

In [12]:
# Check for match
df_merged_large['_merge'].value_counts()

both          30356421
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [14]:
df_merged_large['_merge'].value_counts()

both          30356421
right_only     2078068
left_only       206209
Name: _merge, dtype: int64

In [15]:
df_merged_large

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1.0,2398795,1.0,2.0,3.0,7.0,15.0,196.0,1.0,1.0,both
1,1.0,2398795,1.0,2.0,3.0,7.0,15.0,10258.0,2.0,0.0,both
2,1.0,2398795,1.0,2.0,3.0,7.0,15.0,12427.0,3.0,1.0,both
3,1.0,2398795,1.0,2.0,3.0,7.0,15.0,13176.0,4.0,0.0,both
4,1.0,2398795,1.0,2.0,3.0,7.0,15.0,26088.0,5.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...
32640693,NaN,3421081,NaN,NaN,NaN,NaN,NaN,32299.0,3.0,0.0,right_only
32640694,NaN,3421081,NaN,NaN,NaN,NaN,NaN,3060.0,4.0,0.0,right_only
32640695,NaN,3421081,NaN,NaN,NaN,NaN,NaN,20539.0,5.0,0.0,right_only
32640696,NaN,3421081,NaN,NaN,NaN,NaN,NaN,35221.0,6.0,0.0,right_only
32640697,NaN,3421081,NaN,NaN,NaN,NaN,NaN,12861.0,7.0,0.0,right_only

In [16]:
df_merged_large['_merge'].value_counts()

both          30356421
right_only     2078068
left_only       206209
Name: _merge, dtype: int64

In [18]:
# Export as Pickle format
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_combined.pkl'))